#datetime-picker {
  width: 272px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: 'Montserrat', regular;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-right: 12px;
  outline: none;
  transition: border-color 0.2s ease;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  font-family: 'Moncerat' medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[data-start]:disabled {
  background-color: #4e75ff;
  color: #fff;
  cursor: not-allowed;
}

button[data-start]:hover:not(:disabled) {
  background-color: #6c8cff;
}

.timer {
  width: 346px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24 auto 0;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 0;
  height: 72px;
}

.value {
  font-family: 'Montserrat', regular;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  color: #2e2f42;
  font-size: 14px;
  text-transform: uppercase;
}
